.popup {
  width: 90%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
}

.popup h1 {
  padding: 15px 15px 10px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}

.popup h4 {
  padding: 10px 15px 6px;
  margin: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eee;
  font-size: 14px;
}

.popup .actionButtons {
  border-top: 1px solid #ccc;
}

.popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup .slot {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.slot:last-child {
  border-bottom: none;
}
