.details {
  display: flex;
  height: 100px;
  background: #fff;
}
.roomImage {
  width: 100px;
  height: 80px;
  background-color: #eee;
  margin: 8px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
}

.info {
  flex-direction: column;
  margin-top: 5px;
  font-weight: bold;
}

.info .prop {
  margin: 5px 0;
}

.information {
  display: flex;
  flex-direction: column;
}

.slots {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.slots .scrollable-wrapper {
  flex: 1;
  position: relative;
}

.slots .scrollable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.sectionHeader {
  padding: 10px;
  padding-top: 19px;
  padding-bottom: 7px;
  margin: 0;
  border-bottom: solid 1px rgba(139, 139, 139, 0.25);
  background-color: rgba(139, 139, 139, 0.1);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
