.room {
  background-image: url('../../assets/images/bg.png');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.room .details {
  display: flex;
  height: 100px;
  background: #fff;
}

.room .roomImage {
  width: 100px;
  height: 80px;
  background-color: #eee;
  margin: 8px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
}

.room .info {
  flex-direction: column;
  margin-top: 5px;
  font-weight: bold;
}

.room .info .prop {
  margin: 5px 0;
}

.room .information {
  display: flex;
  flex-direction: column;
}

.room .slots {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.room .slots .scrollable-wrapper {
  flex: 1;
  position: relative;
}

.room .slots .scrollable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.room .slots .scrollable .item input[type='checkbox'] {
  margin-right: 16px;
}

.room .sectionHeader {
  padding: 10px;
  padding-top: 19px;
  padding-bottom: 7px;
  margin: 0;
  border-bottom: solid 1px rgba(139, 139, 139, 0.25);
  background-color: rgba(139, 139, 139, 0.1);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.room .actionButtons {
  display: flex;
}

.room .actionButtons button {
  border: 0;
  text-align: center;
  color: #333;
  font-size: 18px;
  line-height: 46px;
}

.room .actionButtons .submitButton {
  flex: 3;
  background: #cadc49;
}

.room .actionButtons .cancelButton {
  flex: 2;
  background: #aaa;
}
