.details {
  display: flex;
  height: 100px;
  background: #fff;
}

.roomImage {
  width: 100px;
  height: 80px;
  background-color: #eee;
  margin: 8px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
}

.noSlots {
  height: 52px;
  padding-left: 10px;
  border-bottom: solid 1px #ccc;
  text-transform: capitalize;
  line-height: 52px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  color: #666;
}

.info {
  flex-direction: column;
  margin-top: 5px;
  font-weight: bold;
}

.info .prop {
  margin: 5px 0;
}

.information {
  display: flex;
  flex-direction: column;
}

.slots {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.slots .scrollable-wrapper {
  flex: 1;
  position: relative;
}

.slots .scrollable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.slots .item input[type='checkbox'] {
  margin-right: 10px;
}

.sectionHeader {
  padding: 10px;
  padding-top: 19px;
  padding-bottom: 7px;
  margin: 0;
  border-bottom: solid 1px rgba(139, 139, 139, 0.25);
  background-color: rgba(139, 139, 139, 0.1);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.actionButtons {
  display: flex;
}

.actionButtons button {
  border: 0;
  text-align: center;
  color: #333;
  font-size: 18px;
  line-height: 46px;
}

.actionButtons .submitButton {
  flex: 3;
  background: #cadc49;
}

.actionButtons .cancelButton {
  flex: 2;
  background: #aaa;
}

.popupWrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.popupTransition-enter {
  opacity: 0.01;
}

.popupTransition-enter.popupTransition-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.popupTransition-leave {
  opacity: 1;
}

.popupTransition-leave.popupTransition-leave-active {
  opacity: 0.01;
  transition: opacity 0.2s ease-in;
}

.actionButtonsTransition-enter {
  opacity: 0.01;
}

.actionButtonsTransition-enter.actionButtonsTransition-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.actionButtonsTransition-leave {
  opacity: 1;
}

.actionButtonsTransition-leave.actionButtonsTransition-leave-active {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
