.app {
  background-image: url('assets/images/splash.png');
  background-position: center;
  background-size: cover;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
