.centeredContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.loadingText {
  padding-top: 7px;
  font-size: 12px;
}

.imageBackgroundStyles {
  background-image: url('../../assets/images/bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
}
